

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ffffcc;
}

.centered-text {
    text-align: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.controls {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

#clearButton {
    background-color: green;
    color: white;
}

#refreshButton {
    background-color: blue;
    color: white;
}